# Data Exploration

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
a_reserve = pd.read_csv("../../../mltestdata/05_recruit/air_reserve.csv")
a_store = pd.read_csv("../../../mltestdata/05_recruit/air_store_info.csv")
a_visit = pd.read_csv("../../../mltestdata/05_recruit/air_visit_data.csv")
date_info = pd.read_csv("../../../mltestdata/05_recruit/date_info.csv")
h_reserve = pd.read_csv("../../../mltestdata/05_recruit/hpg_reserve.csv")
h_store = pd.read_csv("../../../mltestdata/05_recruit/hpg_store_info.csv")
store_id = pd.read_csv("../../../mltestdata/05_recruit/store_id_relation.csv")

In [3]:
print(a_reserve.head())
print(a_reserve.count())
print(a_reserve.describe())

           air_store_id       visit_datetime     reserve_datetime  \
0  air_877f79706adbfb06  2016-01-01 19:00:00  2016-01-01 16:00:00
1  air_db4b38ebe7a7ceff  2016-01-01 19:00:00  2016-01-01 19:00:00
2  air_db4b38ebe7a7ceff  2016-01-01 19:00:00  2016-01-01 19:00:00
3  air_877f79706adbfb06  2016-01-01 20:00:00  2016-01-01 16:00:00
4  air_db80363d35f10926  2016-01-01 20:00:00  2016-01-01 01:00:00

   reserve_visitors
0                 1
1                 3
2                 6
3                 2
4                 5
air_store_id        92378
visit_datetime      92378
reserve_datetime    92378
reserve_visitors    92378
dtype: int64
       reserve_visitors
count      92378.000000
mean           4.481749
std            4.919669
min            1.000000
25%            2.000000
50%            3.000000
75%            5.000000
max          100.000000

In [4]:
print(a_store.head())
print(a_store.count())
print(a_store.describe())

           air_store_id  air_genre_name                 air_area_name  \
0  air_0f0cdeee6c9bf3d7  Italian/French  Hyōgo-ken Kōbe-shi Kumoidōri
1  air_7cc17a324ae5c7dc  Italian/French  Hyōgo-ken Kōbe-shi Kumoidōri
2  air_fee8dcf4d619598e  Italian/French  Hyōgo-ken Kōbe-shi Kumoidōri
3  air_a17f0778617c76e2  Italian/French  Hyōgo-ken Kōbe-shi Kumoidōri
4  air_83db5aff8f50478e  Italian/French  Tōkyō-to Minato-ku Shibakōen

    latitude   longitude
0  34.695124  135.197852
1  34.695124  135.197852
2  34.695124  135.197852
3  34.695124  135.197852
4  35.658068  139.751599
air_store_id      829
air_genre_name    829
air_area_name     829
latitude          829
longitude         829
dtype: int64
         latitude   longitude
count  829.000000  829.000000
mean    35.647042  137.415311
std      2.084659    3.650971
min     33.211967  130.195555
25%     34.695124  135.341564
50%     35.658068  139.685474
75%     35.694003  139.751599
max     44.020632  144.273398

In [5]:
print(a_visit.head())
print(a_visit.count())
print(a_visit.describe())

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6
air_store_id    252108
visit_date      252108
visitors        252108
dtype: int64
            visitors
count  252108.000000
mean       20.973761
std        16.757007
min         1.000000
25%         9.000000
50%        17.000000
75%        29.000000
max       877.000000

In [9]:
a_visit.tail()

                air_store_id  visit_date  visitors
252103  air_24e8414b9b07decb  2017-04-18         6
252104  air_24e8414b9b07decb  2017-04-19         6
252105  air_24e8414b9b07decb  2017-04-20         7
252106  air_24e8414b9b07decb  2017-04-21         8
252107  air_24e8414b9b07decb  2017-04-22         5

In [6]:
print(h_reserve.head())
print(h_reserve.count())
print(h_reserve.describe())

           hpg_store_id       visit_datetime     reserve_datetime  \
0  hpg_c63f6f42e088e50f  2016-01-01 11:00:00  2016-01-01 09:00:00
1  hpg_dac72789163a3f47  2016-01-01 13:00:00  2016-01-01 06:00:00
2  hpg_c8e24dcf51ca1eb5  2016-01-01 16:00:00  2016-01-01 14:00:00
3  hpg_24bb207e5fd49d4a  2016-01-01 17:00:00  2016-01-01 11:00:00
4  hpg_25291c542ebb3bc2  2016-01-01 17:00:00  2016-01-01 03:00:00

   reserve_visitors
0                 1
1                 3
2                 2
3                 5
4                13
hpg_store_id        2000320
visit_datetime      2000320
reserve_datetime    2000320
reserve_visitors    2000320
dtype: int64
       reserve_visitors
count      2.000320e+06
mean       5.073785e+00
std        5.416172e+00
min        1.000000e+00
25%        2.000000e+00
50%        3.000000e+00
75%        6.000000e+00
max        1.000000e+02

In [7]:
print(h_store.head())
print(h_store.count())
print(h_store.describe())

           hpg_store_id  hpg_genre_name                  hpg_area_name  \
0  hpg_6622b62385aec8bf  Japanese style  Tōkyō-to Setagaya-ku Taishidō
1  hpg_e9e068dd49c5fa00  Japanese style  Tōkyō-to Setagaya-ku Taishidō
2  hpg_2976f7acb4b3a3bc  Japanese style  Tōkyō-to Setagaya-ku Taishidō
3  hpg_e51a522e098f024c  Japanese style  Tōkyō-to Setagaya-ku Taishidō
4  hpg_e3d0e1519894f275  Japanese style  Tōkyō-to Setagaya-ku Taishidō

    latitude   longitude
0  35.643675  139.668221
1  35.643675  139.668221
2  35.643675  139.668221
3  35.643675  139.668221
4  35.643675  139.668221
hpg_store_id      4690
hpg_genre_name    4690
hpg_area_name     4690
latitude          4690
longitude         4690
dtype: int64
          latitude    longitude
count  4690.000000  4690.000000
mean     35.810261   137.675816
std       2.138755     3.197233
min      33.311645   130.339313
25%      34.692109   135.498859
50%      35.659214   139.495733
75%      35.703381   139.737998
max      43.774846   143.714585

In [8]:
print(store_id.head())
print(store_id.count())
print(store_id.describe())

           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3  air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4  air_965b2e0cf4119003  hpg_653238a84804d8e7
air_store_id    150
hpg_store_id    150
dtype: int64
                air_store_id          hpg_store_id
count                    150                   150
unique                   150                   150
top     air_5acc13d655a6e8b2  hpg_a85b37424291216b
freq                       1                     1