In [2]:
# 必要なライブラリをインポート/この他にも必要です。
import pandas as pd
import numpy as np

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

/Users/suzukiry/.pyenv/versions/anaconda3-4.3.0/lib/python3.6/site-packages/numexpr/cpuinfo.py:76: UserWarning: [Errno 2] No such file or directory: 'sysctl'
  stacklevel=stacklevel + 1):

## データの読み込みと提出の準備

In [3]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# 提出用にidを保持
ids = test['PassengerId']

## 下記にコードを記述

# 前処理

## データ選択

### 1. 関連するデータ
- Survived
- Pclass
- Name (Marital status)
- Sex
- Age
- SibSp
- Parch

### 2. 関連しないデータ
- PassengerID: 番号は生存率に関係なし
- Ticket: 同上 
- Fare:  同上
- Cabin: NaNが多そう
- Embarked: 場所は関係なしとする

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 下記は提出用コードです。

In [ ]:
下記のように、fitさせたモデル(例 clf)を使用して、予測をさせましょう。
#predictions = clf.predict(test.drop('PassengerId', axis=1))

In [ ]:
output = pd.DataFrame({ 'PassengerId' : ids, 'Survived': predictions })
# output.to_csv('titanic-predictions.csv', index = False)
output.head()