In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']},
                   index=[0, 1, 2, 3])

In [13]:
df.head()

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [17]:
df.A.apply(lambda x: x[0])

0    A
1    A
2    A
3    A
Name: A, dtype: object

In [15]:
df.head()

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [2]:
s1 = pd.Series(data=[10,20,30])

In [3]:
s1

0    10
1    20
2    30
dtype: int64

In [5]:
s2 = pd.Series(data=[100,200,300])

In [6]:
s2

0    100
1    200
2    300
dtype: int64

In [7]:
df = pd.DataFrame()
df[1]=s1
df[2]=s2

In [8]:
df

    1    2
0  10  100
1  20  200
2  30  300

In [9]:
s1 = pd.Series(data=[10,20,30], index=[1,2,3])
s2 = pd.Series(data=[100,200,300], index=[2,3,4])

In [10]:
df2 = pd.DataFrame()
df2[1]=s1
df2[2]=s2

In [11]:
df2

    1      2
1  10    NaN
2  20  100.0
3  30  200.0

In [12]:
pd.DataFrame([s1, s2], index=[1, 2]).T

      1      2
1  10.0    NaN
2  20.0  100.0
3  30.0  200.0
4   NaN  300.0

In [16]:
df1 = pd.DataFrame({'A': ['1', '2', '3', '1']},index=[0, 1, 2, 3])
df1[df1.duplicated('A')]

   A
3  1