# Pandas4

In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [3]:
df=pd.read_csv("dive.csv")
df

    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [5]:
df3=pd.read_csv("dive.csv",nrows=2)
df3

   A  B  C  D  E
0  0  1  2  3  4
1  5  6  7  8  9

In [4]:
df2=pd.read_table("dive.csv",sep=',')
df2

    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [6]:
df3.to_csv("mydive.csv")

## Merge

In [8]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                   'B': ['B4', 'B5', 'B6', 'B7'],
                   'C': ['C4', 'C5', 'C6', 'C7'],
                   'D': ['D4', 'D5', 'D6', 'D7']},
                  index=[4, 5, 6, 7])

In [10]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [11]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [13]:
pd.concat([df1,df2])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [14]:
dframe3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])

pd.concat([dframe1, dframe2, dframe3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [15]:
pd.concat([df1,df2],axis=1)

     A    B    C    D    A    B    C    D
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   A4   B4   C4   D4
5  NaN  NaN  NaN  NaN   A5   B5   C5   D5
6  NaN  NaN  NaN  NaN   A6   B6   C6   D6
7  NaN  NaN  NaN  NaN   A7   B7   C7   D7

# Merge2

In [17]:
df4 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
df4

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3

In [18]:
df5 = pd.DataFrame({'key': ['K1', 'K3', 'K5', 'K7'],
                      'C': ['C1', 'C3', 'C5', 'C7'],
                      'D': ['D1', 'D3', 'D5', 'D7']},
                     index=[1, 3, 5, 7])
df5

    C   D key
1  C1  D1  K1
3  C3  D3  K3
5  C5  D5  K5
7  C7  D7  K7

In [26]:
pd.merge(df4,df5,on="key")

    A   B key   C   D
0  A1  B1  K1  C1  D1
1  A3  B3  K3  C3  D3

In [ ]:
- key値は合わせる。
- それ以外のkey値はleftなら左のテーブル（その逆も）に合わせる。
- outerは全部ひっくるめる。

In [25]:
pd.merge(df4, df5, on='key', how='left')

    A   B key    C    D
0  A0  B0  K0  NaN  NaN
1  A1  B1  K1   C1   D1
2  A2  B2  K2  NaN  NaN
3  A3  B3  K3   C3   D3

In [27]:
pd.merge(df4,df5,on='key',how='right')

     A    B key   C   D
0   A1   B1  K1  C1  D1
1   A3   B3  K3  C3  D3
2  NaN  NaN  K5  C5  D5
3  NaN  NaN  K7  C7  D7

In [28]:
pd.merge(df4,df5,on='key',how='outer')

     A    B key    C    D
0   A0   B0  K0  NaN  NaN
1   A1   B1  K1   C1   D1
2   A2   B2  K2  NaN  NaN
3   A3   B3  K3   C3   D3
4  NaN  NaN  K5   C5   D5
5  NaN  NaN  K7   C7   D7

## Dataframe.join
df6.join:df6のカラムに沿って、別のテーブルをjoinさせる。

In [31]:
df6 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                    index=['K0', 'K1', 'K2'])

df6

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [32]:
df7 = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])
df7

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [33]:
df6.join(df7)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [34]:
df7.join(df6)

     C   D    A    B
K0  C0  D0   A0   B0
K2  C2  D2   A2   B2
K3  C3  D3  NaN  NaN