In [2]:
#この内容はただサンプルを作っているだけなので、理解できなくても大丈夫です。
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import pandas.util.testing as tm
tm.N = 5

def unpivot(frame):
    N, K = frame.shape
    data = {'値' : frame.values.ravel('F'),
            '評価' : np.asarray(frame.columns).repeat(N),
            '日付' : np.tile(np.asarray(frame.index), K)}
    return DataFrame(data, columns=['日付', '評価', '値'])

# DataFrameを作ります。
df = unpivot(tm.makeTimeDataFrame())
df

           日付 評価         値
0  2000-01-03  A -0.269796
1  2000-01-04  A  1.311637
2  2000-01-05  A -1.397162
3  2000-01-06  A -0.015862
4  2000-01-07  A -1.413020
5  2000-01-03  B -0.194786
6  2000-01-04  B -0.058304
7  2000-01-05  B -0.676298
8  2000-01-06  B -0.976595
9  2000-01-07  B  0.026909
10 2000-01-03  C  1.920538
11 2000-01-04  C  0.910434
12 2000-01-05  C  0.640196
13 2000-01-06  C -0.855504
14 2000-01-07  C  0.406129
15 2000-01-03  D -0.474668
16 2000-01-04  D  0.684223
17 2000-01-05  D -0.665567
18 2000-01-06  D  0.704835
19 2000-01-07  D  1.381365

In [3]:
df_pivot = df.pivot('日付', '評価', '値')
df_pivot

評価                 A         B         C         D
日付
2000-01-03 -0.269796 -0.194786  1.920538 -0.474668
2000-01-04  1.311637 -0.058304  0.910434  0.684223
2000-01-05 -1.397162 -0.676298  0.640196 -0.665567
2000-01-06 -0.015862 -0.976595 -0.855504  0.704835
2000-01-07 -1.413020  0.026909  0.406129  1.381365

# 実習

In [4]:
df = DataFrame({'key1': ['A'] * 2 + ['B'] * 3,
                  'key2': [2, 2, 2, 3, 3]})
df

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [5]:
df.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [7]:
df.drop_duplicates()

  key1  key2
0    A     2
2    B     2
3    B     3

In [12]:
df.drop_duplicates(['key1'])

  key1  key2
0    A     2
2    B     2

In [13]:
df.drop_duplicates(['key2'])

  key1  key2
0    A     2
3    B     3

## 外れ値の計算

In [14]:
np.random.seed(12345)
df = DataFrame(np.random.randn(1000,4))
df.head()

          0         1         2         3
0 -0.204708  0.478943 -0.519439 -0.555730
1  1.965781  1.393406  0.092908  0.281746
2  0.769023  1.246435  1.007189 -1.296221
3  0.274992  0.228913  1.352917  0.886429
4 -2.001637 -0.371843  1.669025 -0.438570

In [15]:
df.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067684     0.067924     0.025598    -0.002298
std       0.998035     0.992106     1.006835     0.996794
min      -3.428254    -3.548824    -3.184377    -3.745356
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.366626     2.653656     3.260383     3.927528

### 最初の列で演習

In [16]:
col = df[0]
col[np.abs(col)>3]

523   -3.428254
900    3.366626
Name: 0, dtype: float64

In [26]:
df[(np.abs(df)>3).any(1)]

            0         1         2         3
5   -0.539741  0.476985  3.248944 -1.021228
97  -0.774363  0.552936  0.106061  3.927528
102 -0.655054 -0.565230  3.176873  0.959533
305 -2.315555  0.457246 -0.025907 -3.399312
324  0.050188  1.951312  3.260383  0.963301
400  0.146326  0.508391 -0.196713 -3.745356
499 -0.293333 -0.242459 -3.056990  1.918403
523 -3.428254 -0.296336 -0.439938 -0.867165
586  0.275144  1.179227 -3.184377  1.369891
808 -0.362528 -3.548824  1.553205 -2.186301
900  3.366626 -2.372214  0.851010  1.332846

sign
各要素について、正の場合1、負の場合-1、ゼロの場合は0を返す。

In [30]:
df[np.abs(df)>3] = np.sign(df) * 3

In [31]:
df.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067623     0.068473     0.025153    -0.002081
std       0.995485     0.990253     1.003977     0.989736
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.000000     2.653656     3.000000     3.000000

## groupby

In [33]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

df = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['A','B','A','B','A'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})
df

   dataset1  dataset2 k1 k2
0  1.150765  1.199915  X  A
1 -0.997174 -0.451814  X  B
2  0.046486 -0.155385  Y  A
3 -0.610441 -0.153514  Y  B
4 -0.394982  0.011194  Z  A

In [35]:
gk1=df.groupby('k1')['dataset1']

In [36]:
gk1.mean()

k1
X    0.076796
Y   -0.281977
Z   -0.394982
Name: dataset1, dtype: float64

In [38]:
df.groupby(['k1','k2']).mean()

       dataset1  dataset2
k1 k2
X  A   1.150765  1.199915
   B  -0.997174 -0.451814
Y  A   0.046486 -0.155385
   B  -0.610441 -0.153514
Z  A  -0.394982  0.011194