# [Predict Hourly Wage](https://www.kaggle.com/c/predicthourlywage/data)

# Data Exploration

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../../mltestdata/Income_training.csv")

In [8]:
df.head()

   compositeHourlyWages  age  yearsEducation  sex1M0F
0                 21.38   58              10        1
1                 25.15   42              16        1
2                  8.57   31              12        0
3                 12.07   43              13        0
4                 10.97   46              12        0

Features:
- ID - employee's id
- compositeHourlyWages - Weighted average of employee's hourly wage.
- age - the age of the employee
- yearsEducation - Number of years educated
- sex1M0F - Sex (1 for Male, 0 for Female)

In [7]:
df.isnull().any()

compositeHourlyWages    False
age                     False
yearsEducation          False
sex1M0F                 False
dtype: bool

- No NaN