# Data Exploration
* * * * *

In [124]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [125]:
a_reserve = pd.read_csv("../../../mltestdata/05_recruit/air_reserve.csv")
a_store = pd.read_csv("../../../mltestdata/05_recruit/air_store_info.csv")
a_visit = pd.read_csv("../../../mltestdata/05_recruit/air_visit_data.csv")
date_info = pd.read_csv("../../../mltestdata/05_recruit/date_info.csv")
h_reserve = pd.read_csv("../../../mltestdata/05_recruit/hpg_reserve.csv")
h_store = pd.read_csv("../../../mltestdata/05_recruit/hpg_store_info.csv")
store_id = pd.read_csv("../../../mltestdata/05_recruit/store_id_relation.csv")
sample_sub = pd.read_csv("../../../mltestdata/05_recruit/sample_submission.csv")

# Preprocessing
* * * * *

### Create df_test

In [181]:
df_test = pd.DataFrame()
df_test['air_store_id'] = sample_sub['id'].apply(lambda x: '_'.join(x.split('_')[:2]))
df_test['visit_date'] = sample_sub['id'].apply(lambda x: x.split('_')[-1])

In [183]:
sub_index = sample_sub['id']

In [127]:
len(pd.unique(df_test.air_store_id))

821

In [128]:
df_test.head()

           air_store_id  visit_date
0  air_00a91d42b08b08d9  2017-04-23
1  air_00a91d42b08b08d9  2017-04-24
2  air_00a91d42b08b08d9  2017-04-25
3  air_00a91d42b08b08d9  2017-04-26
4  air_00a91d42b08b08d9  2017-04-27

In [129]:
print(len(pd.unique(a_reserve.air_store_id)))
print(len(pd.unique(a_store.air_store_id)))
print(len(pd.unique(a_visit.air_store_id)))
print(len(pd.unique(h_reserve.hpg_store_id)))
print(len(pd.unique(h_store.hpg_store_id)))

314
829
829
13325
4690

### Replace hpg_store_id to air_store_id

In [130]:
import csv
with open("../../../mltestdata/05_recruit/store_id_relation.csv") as f:
    store_mapping = dict(filter(None, csv.reader(f)))

store_mapping_inv = {v:k for k, v in store_mapping.items()}

h_reserve['air_store_id'] = h_reserve['hpg_store_id'].map(store_mapping_inv)
h_store['air_store_id'] = h_store['hpg_store_id'].map(store_mapping_inv)

h_reserve = h_reserve.drop(['hpg_store_id'],axis=1)
h_store = h_store.drop(['hpg_store_id'],axis=1)

### Count total reservation per day

In [131]:
a_reserve_update = a_reserve.set_index(a_reserve.visit_datetime)
a_reserve_update.index = pd.to_datetime(a_reserve_update.index, utc=True)
a_reserve_grpby = a_reserve_update.groupby(["air_store_id"]).resample('D')['reserve_visitors'].sum()

h_reserve_update = h_reserve.set_index(h_reserve.visit_datetime)
h_reserve_update.index = pd.to_datetime(h_reserve_update.index, utc=True)
h_reserve_grpby = h_reserve_update.groupby(["air_store_id"]).resample('D')['reserve_visitors'].sum()

In [132]:
a_reserve_grouped = pd.DataFrame(a_reserve_grpby).reset_index()
a_reserve_grouped = a_reserve_grouped.rename(columns={'reserve_visitors': 'a_res_vis','visit_datetime': 'visit_date'})
a_reserve_grouped.visit_date = a_reserve_grouped.visit_date.apply(lambda x: x.strftime('%Y-%m-%d'))

h_reserve_grouped = pd.DataFrame(h_reserve_grpby).reset_index()
h_reserve_grouped = h_reserve_grouped.rename(columns={'reserve_visitors': 'h_res_vis','visit_datetime': 'visit_date'})
h_reserve_grouped.visit_date = h_reserve_grouped.visit_date.apply(lambda x: x.strftime('%Y-%m-%d'))

Exception ignored in: <bound method DMatrix.__del__ of <xgboost.core.DMatrix object at 0x113550048>>
Traceback (most recent call last):
  File "/Users/suzukiry/lab/March/lib/python3.6/site-packages/xgboost-0.6-py3.6.egg/xgboost/core.py", line 368, in __del__
    if self.handle is not None:
AttributeError: 'DMatrix' object has no attribute 'handle'
Exception ignored in: <bound method DMatrix.__del__ of <xgboost.core.DMatrix object at 0x107efea58>>
Traceback (most recent call last):
  File "/Users/suzukiry/lab/March/lib/python3.6/site-packages/xgboost-0.6-py3.6.egg/xgboost/core.py", line 368, in __del__
    if self.handle is not None:
AttributeError: 'DMatrix' object has no attribute 'handle'

In [133]:
a_reserve_grouped.head()

           air_store_id  visit_date  a_res_vis
0  air_00a91d42b08b08d9  2016-10-31        2.0
1  air_00a91d42b08b08d9  2016-11-01        NaN
2  air_00a91d42b08b08d9  2016-11-02        NaN
3  air_00a91d42b08b08d9  2016-11-03        NaN
4  air_00a91d42b08b08d9  2016-11-04        NaN

In [134]:
h_reserve_grouped.head()

           air_store_id  visit_date  h_res_vis
0  air_00a91d42b08b08d9  2016-01-14        2.0
1  air_00a91d42b08b08d9  2016-01-15        4.0
2  air_00a91d42b08b08d9  2016-01-16        2.0
3  air_00a91d42b08b08d9  2016-01-17        NaN
4  air_00a91d42b08b08d9  2016-01-18        NaN

### Merge information

In [135]:
a_info = a_visit

In [136]:
a_info.head()

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6

In [137]:
len(pd.unique(a_info.air_store_id))

829

In [138]:
date_info = date_info.rename(columns={'calendar_date': 'visit_date'})

In [139]:
date_info.head()

   visit_date day_of_week  holiday_flg
0  2016-01-01      Friday            1
1  2016-01-02    Saturday            1
2  2016-01-03      Sunday            1
3  2016-01-04      Monday            0
4  2016-01-05     Tuesday            0

In [140]:
a_info.head()

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6

In [141]:
# Calendar informatoin
a_info = pd.merge(a_info, date_info, on='visit_date', how='left')
df_test = pd.merge(df_test, date_info, on='visit_date', how='left')

In [142]:
a_info.head()

           air_store_id  visit_date  visitors day_of_week  holiday_flg
0  air_ba937bf13d40fb24  2016-01-13        25   Wednesday            0
1  air_ba937bf13d40fb24  2016-01-14        32    Thursday            0
2  air_ba937bf13d40fb24  2016-01-15        29      Friday            0
3  air_ba937bf13d40fb24  2016-01-16        22    Saturday            0
4  air_ba937bf13d40fb24  2016-01-18         6      Monday            0

In [143]:
a_reserve_grouped.head()

           air_store_id  visit_date  a_res_vis
0  air_00a91d42b08b08d9  2016-10-31        2.0
1  air_00a91d42b08b08d9  2016-11-01        NaN
2  air_00a91d42b08b08d9  2016-11-02        NaN
3  air_00a91d42b08b08d9  2016-11-03        NaN
4  air_00a91d42b08b08d9  2016-11-04        NaN

In [144]:
# Reservation in air and hpg
#a_info.join(a_reserve_grouped, on=['air_store_id','visit_date'], rsuffix='__', how='left')
a_info = pd.merge(a_info, a_reserve_grouped, on=['air_store_id','visit_date'], how='left')
a_info = pd.merge(a_info, h_reserve_grouped, on=['air_store_id','visit_date'], how='left')

In [145]:
df_test = pd.merge(df_test, a_reserve_grouped, on=['air_store_id','visit_date'], how='left')
df_test = pd.merge(df_test, h_reserve_grouped, on=['air_store_id','visit_date'], how='left')

In [146]:
a_info.head()

,air_store_id,visit_date,visitors,day_of_week,holiday_flg,a_res_vis,h_res_vis
0,air_ba937bf13d40fb24,2016-01-13,25,Wednesday,0,NaN,NaN
1,air_ba937bf13d40fb24,2016-01-14,32,Thursday,0,NaN,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,Friday,0,NaN,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,Saturday,0,NaN,NaN
4,air_ba937bf13d40fb24,2016-01-18,6,Monday,0,NaN,NaN

In [147]:
df_test.head()

,air_store_id,visit_date,day_of_week,holiday_flg,a_res_vis,h_res_vis
0,air_00a91d42b08b08d9,2017-04-23,Sunday,0,NaN,NaN
1,air_00a91d42b08b08d9,2017-04-24,Monday,0,NaN,NaN
2,air_00a91d42b08b08d9,2017-04-25,Tuesday,0,NaN,NaN
3,air_00a91d42b08b08d9,2017-04-26,Wednesday,0,NaN,NaN
4,air_00a91d42b08b08d9,2017-04-27,Thursday,0,NaN,NaN

In [148]:
visit_date = pd.to_datetime(a_info.visit_date, format='%Y-%m-%d')
a_info['year'] = visit_date.dt.year
a_info['month'] = visit_date.dt.month
a_info['dayofyear'] = visit_date.dt.dayofyear
a_info['dayofweek'] = visit_date.dt.dayofweek

In [149]:
visit_date = pd.to_datetime(df_test.visit_date, format='%Y-%m-%d')
df_test['year'] = visit_date.dt.year
df_test['month'] = visit_date.dt.month
df_test['dayofyear'] = visit_date.dt.dayofyear
df_test['dayofweek'] = visit_date.dt.dayofweek

In [150]:
# store_info
a_info = pd.merge(a_info, a_store, on=['air_store_id'], how='left')
a_info = pd.merge(a_info, h_store, on=['air_store_id'], how='left')

In [151]:
df_test = pd.merge(df_test, a_store, on=['air_store_id'], how='left')
df_test = pd.merge(df_test, h_store, on=['air_store_id'], how='left')

In [152]:
a_info.head(2)

,air_store_id,visit_date,visitors,day_of_week,holiday_flg,a_res_vis,h_res_vis,year,month,dayofyear,dayofweek,air_genre_name,air_area_name,latitude_x,longitude_x,hpg_genre_name,hpg_area_name,latitude_y,longitude_y
0,air_ba937bf13d40fb24,2016-01-13,25,Wednesday,0,NaN,NaN,2016,1,13,2,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,NaN,NaN,NaN
1,air_ba937bf13d40fb24,2016-01-14,32,Thursday,0,NaN,NaN,2016,1,14,3,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,NaN,NaN,NaN

### Encoding

In [153]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [154]:
le.fit(a_info['air_store_id'])
a_info['air_store_id'] = le.fit_transform(a_info['air_store_id'])

In [155]:
df_test['air_store_id'] = le.fit_transform(df_test['air_store_id'])

In [156]:
le.fit(a_info['air_genre_name'])
a_info['air_genre_name'] = le.fit_transform(a_info['air_genre_name'])
df_test['air_genre_name'] = le.fit_transform(df_test['air_genre_name'])

In [157]:
le.fit(a_info['air_area_name'])
a_info['air_area_name'] = le.fit_transform(a_info['air_area_name'])
df_test['air_area_name'] = le.fit_transform(df_test['air_area_name'])

In [158]:
a_info.head()

,air_store_id,visit_date,visitors,day_of_week,holiday_flg,a_res_vis,h_res_vis,year,month,dayofyear,dayofweek,air_genre_name,air_area_name,latitude_x,longitude_x,hpg_genre_name,hpg_area_name,latitude_y,longitude_y
0,603,2016-01-13,25,Wednesday,0,NaN,NaN,2016,1,13,2,4,62,35.658068,139.751599,NaN,NaN,NaN,NaN
1,603,2016-01-14,32,Thursday,0,NaN,NaN,2016,1,14,3,4,62,35.658068,139.751599,NaN,NaN,NaN,NaN
2,603,2016-01-15,29,Friday,0,NaN,NaN,2016,1,15,4,4,62,35.658068,139.751599,NaN,NaN,NaN,NaN
3,603,2016-01-16,22,Saturday,0,NaN,NaN,2016,1,16,5,4,62,35.658068,139.751599,NaN,NaN,NaN,NaN
4,603,2016-01-18,6,Monday,0,NaN,NaN,2016,1,18,0,4,62,35.658068,139.751599,NaN,NaN,NaN,NaN

In [159]:
df_test.head(2)

,air_store_id,visit_date,day_of_week,holiday_flg,a_res_vis,h_res_vis,year,month,dayofyear,dayofweek,air_genre_name,air_area_name,latitude_x,longitude_x,hpg_genre_name,hpg_area_name,latitude_y,longitude_y
0,0,2017-04-23,Sunday,0,NaN,NaN,2017,4,113,6,6,44,35.694003,139.753595,NaN,NaN,NaN,NaN
1,0,2017-04-24,Monday,0,NaN,NaN,2017,4,114,0,6,44,35.694003,139.753595,NaN,NaN,NaN,NaN

### Finalizing

In [160]:
a_info = a_info.drop(['day_of_week'],axis=1)
df_test = df_test.drop(['day_of_week'],axis=1)

In [161]:
a_info = a_info.drop(['visit_date'],axis=1)
df_test = df_test.drop(['visit_date'],axis=1)

In [168]:
a_info = a_info.drop(['hpg_genre_name'],axis=1)
df_test = df_test.drop(['hpg_genre_name'],axis=1)

a_info = a_info.drop(['hpg_area_name'],axis=1)
df_test = df_test.drop(['hpg_area_name'],axis=1)

In [169]:
a_info = a_info.fillna(0)
a_info.head()

,air_store_id,visitors,holiday_flg,a_res_vis,h_res_vis,year,month,dayofyear,dayofweek,air_genre_name,air_area_name,latitude_x,longitude_x,latitude_y,longitude_y
0,603,25,0,0.0,0.0,2016,1,13,2,4,62,35.658068,139.751599,0.0,0.0
1,603,32,0,0.0,0.0,2016,1,14,3,4,62,35.658068,139.751599,0.0,0.0
2,603,29,0,0.0,0.0,2016,1,15,4,4,62,35.658068,139.751599,0.0,0.0
3,603,22,0,0.0,0.0,2016,1,16,5,4,62,35.658068,139.751599,0.0,0.0
4,603,6,0,0.0,0.0,2016,1,18,0,4,62,35.658068,139.751599,0.0,0.0

In [170]:
df_test = df_test.fillna(0)
df_test.head()

,air_store_id,holiday_flg,a_res_vis,h_res_vis,year,month,dayofyear,dayofweek,air_genre_name,air_area_name,latitude_x,longitude_x,latitude_y,longitude_y
0,0,0,0.0,0.0,2017,4,113,6,6,44,35.694003,139.753595,0.0,0.0
1,0,0,0.0,0.0,2017,4,114,0,6,44,35.694003,139.753595,0.0,0.0
2,0,0,0.0,0.0,2017,4,115,1,6,44,35.694003,139.753595,0.0,0.0
3,0,0,0.0,0.0,2017,4,116,2,6,44,35.694003,139.753595,0.0,0.0
4,0,0,0.0,0.0,2017,4,117,3,6,44,35.694003,139.753595,0.0,0.0

In [171]:
a_info.dtypes

air_store_id        int64
visitors            int64
holiday_flg         int64
a_res_vis         float64
h_res_vis         float64
year                int64
month               int64
dayofyear           int64
dayofweek           int64
air_genre_name      int64
air_area_name       int64
latitude_x        float64
longitude_x       float64
latitude_y        float64
longitude_y       float64
dtype: object

In [177]:
df_test.dtypes

air_store_id        int64
holiday_flg         int64
a_res_vis         float64
h_res_vis         float64
year                int64
month               int64
dayofyear           int64
dayofweek           int64
air_genre_name      int64
air_area_name       int64
latitude_x        float64
longitude_x       float64
latitude_y        float64
longitude_y       float64
dtype: object

df_test.dtypes

In [172]:
X_train = a_info.drop(['visitors'], axis=1)
y_train = (a_info['visitors'].values)

In [173]:
import xgboost as xgb
from sklearn.model_selection import train_test_split

from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error

In [174]:
# xgboostモデルの作成
reg = xgb.XGBRegressor()

# ハイパーパラメータ探索
reg_cv = GridSearchCV(reg, {'max_depth': [2,4,6], 'n_estimators': [50,100,200]}, verbose=1)
reg_cv.fit(X_train, y_train)
print(reg_cv.best_params_, reg_cv.best_score_)

Fitting 3 folds for each of 9 candidates, totalling 27 fits

[Parallel(n_jobs=1)]: Done  27 out of  27 | elapsed:  3.2min finished

{'max_depth': 2, 'n_estimators': 50} 0.0993205563568

In [175]:
# XGBoost params
xgb_params = {}
#xgb_params['objective'] = 'reg:gamma'
xgb_params['objective'] = 'binary:logistic'
xgb_params['learning_rate'] = 0.04
xgb_params['n_estimators'] = 490
xgb_params['max_depth'] = 4
xgb_params['subsample'] = 0.9
xgb_params['colsample_bytree'] = 0.9  
xgb_params['min_child_weight'] = 10

In [176]:
# 改めて最適パラメータで学習
gdm = xgb.XGBRegressor(**reg_cv.best_params_) # 6.01679534923
#gdm = xgb.XGBRegressor(**xgb_params) # 6.0907929398
gdm.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=2, min_child_weight=1, missing=None, n_estimators=50,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [178]:
predictions = gdm.predict(df_test)

In [184]:
sub = pd.DataFrame({"id": sub_index, "visitors": predictions})
sub.to_csv('rs_submission_24dec17.csv', index=False)